@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Semibold';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf');
}

.semibold {
  font-family: 'Roboto Semibold';
}
